In [5]:
import pandas as pd 

#file path 
file_path = r"C:\Users\bios\Desktop\JPY_NB\customer_scorecard_input.xlsx"

#read all 2 sheets 
application_df = pd.read_excel(file_path, sheet_name="Application_Data")
behavioral_df = pd.read_excel(file_path, sheet_name="Behavioral_Data")

In [6]:
file_path = r"C:\Users\bios\Desktop\JPY_NB\bureau_data.xlsx"
bureau_df = pd.read_excel(file_path, sheet_name="Bureau_Data")

In [9]:
# merge them into one dataset using customer ID 
merged_df = application_df.merge(behavioral_df, on="Customer_ID") \
.merge(bureau_df, on="Customer_ID")

In [15]:
# quick _check 
print("Application data shape:", application_df.shape)
print("behavorial data shape:", behavioral_df.shape)
print("bureau data shape:", bureau_df.shape)
print("Final merged data shape:", merged_df.shape)

#show first few rows 
print(merged_df.head(10))

Application data shape: (100, 12)
behavorial data shape: (100, 7)
bureau data shape: (100, 17)
Final merged data shape: (100, 34)
   Customer_ID  Age  Income_INR  Employment_Years Marital_Status  \
0            1   59     2309818                 0       Divorced
1            2   49     2431785                 8       Divorced
2            3   35      488998                27         Single
3            4   63     2043400                26         Single
4            5   28     1279111                 5       Divorced
5            6   41     1196107                15       Divorced
6            7   59      551279                28        Married
7            8   39     2070230                 2       Divorced
8            9   43      689570                19        Married
9           10   31     2250731                27        Married

  Education_Level  Credit_History_Length  Outstanding_Loans  Loan_Amount  \
0        Graduate                      5                  9       448929
1    Postgraduate                     12                  6       630466
2        Graduate                     16                  9       623695
3     High School                     16                  4       513556
4        Graduate                      7                  2       625278
5        Graduate                      4                  6      1043176
6        Graduate                      1                  1      1228049
7        Graduate                      5                  8      1033049
8     High School                     10                  9       528007
9             PhD                      5                  9       894573

   Loan_Tenure_Months  ...  No_of_Inquiries_12M  DPD_30 DPD_60  DPD_90  \
0                  48  ...                    5       2      0       1
1                  24  ...                    0       0      0       1
2                  72  ...                    3       0      1       0
3                  24  ...                    0       0      0       1
4                  24  ...                    5       1      1       1
5                  24  ...                    3       1      1       1
6                  72  ...                    2       0      1       1
7                  36  ...                    2       1      0       0
8                  36  ...                    8       0      1       0
9                  24  ...                    5       0      1       1

   Worst_Current_Status  Months_Since_Most_Recent_Delinquency  \
0                     0                                    56
1                     0                                     6
2                     1                                    21
3                     3                                    54
4                     0                                    32
5                     1                                    16
6                     0                                    23
7                     0                                    33
8                     0                                    27
9                     1                                    57

   Max_Credit_Exposure  Oldest_Trade_Open_Months  Newest_Trade_Open_Months  \
0               989211                       227                        49
1              1626107                       237                        25
2               697160                       225                        40
3              1930947                       142                        24
4               339972                        87                        14
5              1330292                       231                        26
6              1469031                        41                        38
7               288854                       229                        23
8               434600                        32                        22
9               191918                       167                        48

   Default_y
0          1
1          0
2          0
3          0
4          0
5          1
6          1
7          0
8          0
9          0

[10 rows x 34 columns]